* {
    margin: 0;
    padding: 0;
    transition: .3s;
}

#App {
    width: 100%;
    height: 100vh;
}

#MainSection {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100vh;
}

/* Keyframes */
@keyframes shake {
    0% {
        transform: translate(-2px, -2px);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate(2px, 2px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translate(-2px, -2px);
    }

    100% {
        transform: translate(0, 0);
    }
}

/* Templates Styles */

.selected {
    background: #5f5f5f;
    color: #ffffff;
}

#ButtonTools {
    bottom: 10px;
    left: 10px;
    width: auto;
    position: absolute;
    z-index: 2;
    padding: 0 10px;
}

#SaveConfig {
    position: absolute;
    bottom: 0;
}

#SaveSettingsButton {
    background-color: #048500;
    border: none;
    border-radius: 30px;
    outline: 1px solid #00ff00;
    color: #ffffff;
    width: 100px;
    height: 30px;
}

.ApareanceOptions_Type,
.ApareanceOptions_Input,
.ApareanceOptions_Selector {
    margin: 15px 0;
}

.Selectors_ROW,
.ExecutionOptions_ROW,
.ExecutionInput_ROW,
.ExecutionSelector_ROW {
    display: flex;
    flex-direction: row;
}

.Selectors_COLUMN,
.ExecutionOptions_COLUMN,
.ExecutionInput_COLUMN,
.ExecutionSelector_COLUMN {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.ExecutionOptions_ROW,
.ExecutionSelector_COLUMN {
    width: 100%;
}

.ExecutionOptions_ROW h4 {
    width: 50%;
}

.ExecutionOptions_COLUMN h4 {
    width: 100%;
}

.text_ROW {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.text_COLUMN {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.Inputs_COLUMN h3,
.Inputs_ROW h3 {
    margin: 0 20px;
}

.Switchs_ROW,
.Inputs_ROW,
.Selectors_ROW,
.Upload_ROW {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 50%;
}

.Switchs_COLUMN,
.Inputs_COLUMN,
.Selectors_COLUMN,
.Upload_COLUMN {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 15px 0 0 0;
}

.Switchs_ROW h4 {
    width: 100px;
    margin: 0 10px;
    text-align: center;
}

.Switchs_COLUMN h4 {
    width: 50px;
    margin: 0 10px;
    text-align: center;
}

.Switchs_ROW button {
    cursor: pointer;
    align-items: center;
    display: flex;
    border: none;
    border-radius: 25px;
    margin: auto;
    background-color: #535353;
    width: 70px;
    height: 25px;
}

.Switchs_COLUMN button {
    cursor: pointer;
    align-items: center;
    display: flex;
    border: none;
    border-radius: 25px;
    background-color: #535353;
    width: 70px;
    height: 25px;
}

.Switchs_ROW button div,
.Switchs_COLUMN button div {
    border-radius: 30px;
    margin: 0 7.5px;
    background-color: #fff;
    height: 15px;
    width: 25px;
}

.Selector_input {
    width: 100%;
}

.Color_Input,
.Selector_input,
.UploadFile {
    width: 100%;
    font-weight: bold;
    margin: 0 10px;
    border: none;
    outline: 1px solid #000000;
    border-radius: 10px;
    height: 25px;
    padding: 0 20px;
}

.Inputs h3 {
    width: 30%;
    text-align: center;
}

.Range_Input {
    margin: 0 10px 0 0;
    width: 100%;
}

/* Menu of the Navigation */

#ModelOptionsSection {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#RouterLinks {
    height: 40px;
    background: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 2px solid #000000;
    box-sizing: border-box;
    z-index: 2;
}

#RouterLinks ul {
    padding: 0 30px;
    width: 50%;
    display: flex;
    flex-direction: row;
}

#RouterLinks ul li {
    list-style: none;
    margin: 0 25px 0 0;
}

.ButtonSection {
    padding: 5px 20px;
    border-radius: 15px;
    border: none;
    outline: 2px solid #000000;
}

/* Audio Controls */
#AudioControls {
    height: auto;
    background: #ffffff;
    left: 0;
    z-index: 2;
    margin: 20px;
    position: absolute;
    top: 40px;
    width: 400px;
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
    outline: 2px solid #000000;
}

#AudioInfo {
    width: 100%;
    height: 100%;
    text-align: center;
}

.AudioSections_LI {
    list-style: none;
    margin: 20px 0 0 0;
    border-radius: 15px;
    background: #c7c7c7;
}

#AudioInfo ul li.AudioLevel {
    height: 100%;
    list-style: none;
    display: grid;
    align-items: center;
}

#CanvasDataMeasurer {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    padding: 20px 0;
    align-items: flex-end;
    justify-content: center;
}

#AudioReferenceLevel {
    border-radius: 15px;
    margin: 0 0 0 20px;
    outline: 2px solid #000;
}

.AudioPropSeparator {
    background: #000;
    height: 200px;
    margin: 0 20px;
    width: 5px;
}

#ListVolumeLevelReference {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: auto;
}

#ListVolumeLevelReference li::marker {
    content: "◄";
}

/* Audio Controls */

#Op-CL_AudioControls {
    position: absolute;
    right: -15%;
    border: none;
    width: 50px;
    height: 50px;
    outline: 1px solid #000000;
    border-radius: 11px;
}

#AudioEventLevel {
    border-radius: 0 0 15px 15px;
    margin: 0 0 0 20px;
    width: 20px;
    outline: 2px solid #000000;
    min-height: 5px;
    background-color: #000000;
}

#AudioEventLevel::after {
    content: '';
    border-radius: 0 15px 15px 0;
    background-color: #ff0000;
    margin: -5px -6px;
    position: absolute;
    width: 30px;
    height: 5px;
}

#AudioData {
    width: 100%;
    display: flex;
    margin: 0 20px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.AudioData_Sectors {
    width: 40%;
    padding: 5px;
    background: #ffffff;
    margin: 20PX auto;
    border-radius: 5px;
}

.hr-separators {
    background: #000;
    border: none;
    border-radius: 20px;
    height: 2px;
    margin: 5px 0;
    width: 100%;
}

/* Model Viewer */
#ModelViewer {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}